@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8wzay5');
  src:  url('fonts/icomoon.eot?8wzay5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8wzay5') format('truetype'),
    url('fonts/icomoon.woff?8wzay5') format('woff'),
    url('fonts/icomoon.svg?8wzay5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e901";
}
.icon-video:before {
  content: "\e902";
  color: #fefefe;
}
.icon-youtube:before {
  content: "\e903";
  color: #6c6c6c;
}
.icon-twitter:before {
  content: "\e904";
  color: #6c6c6c;
}
.icon-facebook:before {
  content: "\e907";
  color: #6c6c6c;
}
.icon-next:before {
  content: "\e905";
  color: #a9adb2;
}
.icon-prev:before {
  content: "\e906";
  color: #a9adb2;
}
.icon-libro:before {
  content: "\e900";
}
.icon-search-2:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube-social:before {
  content: "\e601";
}
