.footer
	width: 100%
	border-top: 1px solid $c-1
	padding: 35px 0
	a 
		color: $c-0
.footer__cnt
	width: 100%
	max-width: 1640px
	margin: auto
	box-sizing: border-box
	display: flex
	justify-content: space-between
	align-items: center
.footer__info
	display: flex
	p 
		font-size: 16px
		font-family: $t-1
		line-height: 1
		color: $c-3
		margin: 0
.footer__tel
	margin: 0 0 0 30px
	padding: 0 0 0 30px
	border-left: 1px solid $c-7
	box-sizing: border-box
	padding: 0 20px
	span
		color: $c-6
.footer__socials
	a
		margin: 0 25px 0 0 
		&:last-child
			margin: 0
.footer__bottom__prin
	width: 100
	margin: 30px 0 0 0
	padding: 30px 20px 0 20px
	border-top: 1px solid $c-1
.footer__bottom
	width: 100%
	max-width: 1640px
	box-sizing: border-box
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap
	margin: 0 auto
	p 
		font-size: 16px
		font-family: $t-1
		line-height: 1
		color: $c-3
		margin: 0
@media screen and (max-width: 1024px)
	.footer__socials
		display: none
	.footer__cnt
		justify-content: center

@media screen and (max-width: 960px)
	.footer__bottom
		text-align: center
	.footer__bottom__credits, .footer__bottom__copy
		width: 100%
	.footer__socials
		text-align: center
		margin: 15px
	.footer__bottom__credits
		margin: 7px 0 0 0
@media screen and (max-width: 767px)
	.footer
		padding: 30px 0
	.footer__cnt
		padding: 0 15px
@media screen and (max-width: 480px)
	.footer__info
		display: block
		text-align: center
		p 
			font-size: 14px
	.footer__tel
		margin: 7px 0 0 0
		padding: 0
		border: 0
	.footer__bottom p
		font-size: 14px


