body.active
	overflow: hidden
.header__wrap
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 10
	height: 77px
	transition: all .3s ease-in-out
	z-index: 99
	&.active
		background: $blanco
		border-bottom: 2px solid rgba(155, 155, 155, .4)
		.header__cnt__list
			color: $c-0
			a
				color: $c-0
		.header__socials
			a
				&:before
					color: $c-0
		.header__languages
			color: $c-0
		.header-logo-scroll
			opacity: 1
			visibility: visible
			z-index: 2
			position: relative
		.header-logo-desktop
			opacity: 0
			visibility: hidden
			z-index: -1
			position: absolute
			top: 0
			left: 0
		.menu-mobile-open
			span
				background: $c-0
.header__cnt
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 20px
	width: 100%
	height: 100%
	max-width: 1640px
	box-sizing: border-box
	margin: 0 auto
.header__logo
	width: 210px
	margin: 0
	position: relative
	img
		max-width: 100%
		height: auto
		display: block
.header-logo-desktop, .header-logo-scroll
	transition: all .3s ease-in-out
.header-logo-scroll
	opacity: 0
	visibility: hidden
	z-index: -1
	position: absolute
	top: 0
	left: 0
.header__cnt__list
	display: flex
	color: $blanco
	align-items: center
	a
		color: $blanco
.header__list
	display: flex
	margin: 0
.header__item
	font-family: $t-1
	font-size: 13px
	text-transform: uppercase
	margin: 0 30px 0 0
	&:last-child
		margin: 0
.header__socials
	margin: 0 40px
	a
		font-size: 14px
		margin: 0 25px 0 0
		&:before
			color: $blanco
		&:last-child
			margin: 0
.header__languages
	font-family: $t-1
	font-size: 15px
	color: $blanco
	a
		&.active
			font-weight: bold
	span
		margin: 0 3px
.menu-sidebar
	width: 100%
	height: 100%
	max-width: 300px
	opacity: 0
	visibility: hidden
	transition: all .3s ease-in-out
	transform: translateX(100%)
	position: fixed
	top: 0
	right: 0
	background: $blanco
	padding: 50px 20px
	box-sizing: border-box
	&.active
		opacity: 1
		visibility: visible
		transform: translateX(0)
		z-index: 4
.menu-mobile-open
	display: none
	width: 30px
	position: absolute
	top: 0
	bottom: 0
	margin: auto
	right: 20px
	height: 26px
	span
		display: block
		height: 2px
		width: 100%
		background: $blanco
		margin: 0 0 10px 0
		&:last-child
			margin: 0
.header-menu-overlay
	opacity: 0
	visibility: hidden
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	transition: all .3s ease-in-out
	position: fixed
	top: 0
	left: 0
	&.active
		opacity: .5
		visibility: visible
.menu-mobile-close
	position: absolute
	top: 20px
	right: 20px
	font-size: 20px
	color: $c-0
.menu-sidebar-cnt
	.header__logo
		width: 190px
		display: block
	.header-logo-scroll
		opacity: 1
		visibility: visible
		z-index: 2
		position: inherit
	.header-logo-desktop
		display: none
	.header__cnt__list
		display: block
		color: $c-0
		margin: 30px 0 0 0
		a
			color: $c-0
	.header__socials
		a
			&:before
				color: $c-0
	.header__languages
		color: $c-0
	.header__list
		display: block
	.header__item
		margin: 0 0 10px 0
		&:last-child
			margin: 0
	.header__socials
		margin: 20px 0 
@media screen and (max-width: 1024px)
	.header__cnt__list
		display: none
	.menu-mobile-open
		display: block
@media screen and (max-width: 480px)
	.header__logo
		width: 190px
	