footer.footer(role='contentinfo')
	.footer__cnt
		.footer__info
			.footer__direccion 
				p Av. La Encalada Nro. 1171 Of. 501 Surco, Lima - Perú
			.footer__tel
				p 
					span P: 
					a(href="#", tel="682 982 366 535") (682) 982 366 535
		.footer__socials
			a(href="#").icon-instagram
			a(href="#").icon-facebook
			a(href="#").icon-twitter
			a(href="#").icon-youtube
	.footer__bottom__prin
		.footer__bottom
			.footer__bottom__copy
				p PMP® , PMI® and PMBOK® are registered marks of the Project Management Institute, Inc
			.footer__bottom__credits
				p Copyright ® Gesap // Diseño Web: 
					a(href="https://www.staffdigital.pe/", target="_blank") Staff Digital
