header.header__wrap
	.header__cnt
		a(href="home.html").header__logo
			img.header-logo-desktop(src=`${STATIC_URL}img/header-logo.png`, alt="", width="210", height="51")
			img.header-logo-scroll(src=`${STATIC_URL}img/logo-2.jpg`, alt="", width="210", height="51")
		.header__cnt__list
			ul.header__list
				li.header__item
					a.header-link(href="nosotros.html") About Me
				li.header__item
					a.header-link(href="portafolio.html") Portfolio
				li.header__item
					a.header-link(href="servicios.html") Services
				li.header__item
					a.header-link(href="contacto.html") Contact
			.header__socials
				a(href="#").icon-instagram
				a(href="#").icon-facebook
				a(href="#").icon-twitter
				a(href="#").icon-youtube
			.header__languages
				a(href="#").active EN
				span / 
				a(href="#") ES

	.menu-mobile-open
		span
		span
		span
	.header-menu-overlay
	.menu-sidebar
		.menu-mobile-close.icon-close
		.menu-sidebar-cnt