extends ./_common/base.pug
//- css
append css
	append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.ctn__contacto
		.banner__general(style=`background-image: url('/${STATIC_URL}img/banner.jpg');`)
		.ctn__contact__prin
			.ctn__contact__info 
				ul.ctn__contact__slider
					- for (var i = 1; i <= 4; i++)
						li 
							.ctn__contact__slider__img
								figure.slider__contact__img
									img(src=`${STATIC_URL}img/img-contacto.jpg`, width="143", height="41")
								.ctn__contact__comillas
									img(src=`${STATIC_URL}img/comillas.png`, width="54", height="46")
							p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto de relleno de las imprenta archivos de archivos,  archivos de texto de relleno de las imprenta archivos de archivos …
							h3 Jacky Reuter
			.ctn__contact__form 
				h3 Escríbenos y te contactaremos
				p Escribenos tus dudas, consultas que tengas e inmediatamente nos estaremos conmunicando contigo.
				.ctn__contact__form__sec
					form
						.ctn__contact__form__item
							.input__general
								input(type="text", placeholder="Nombres y Apellidos")
						.ctn__contact__form__item
							.input__general
								input(type="text", placeholder="Teléfono")
						.ctn__contact__form__item
							.input__general
								input(type="text", placeholder="Email")
						.ctn__contact__form__item
							.input__general
								input(type="text", placeholder="Empresa")
						.ctn__contact__form__item.ctn__contact--textarea
							.input__general
								textarea( placeholder="Mensaje")
						.ctn__contact__form__item.ctn__contact--btn
							button.btn.btn-enlace.btn-plomo( href='') Enviar

append scripts 
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			$('.ctn__contact__slider').slick({
				speed: 400,
				dots: true,
				arrows: false,
				fade: true
			});
		})

