extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/fancybox/jquery.fancybox.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.banner__home(style=`background-image: url('${STATIC_URL}img/banner-home.jpg');`)
		.banner__home__content
			h2 Photographer <br> & Creative Director
			.banner__home__video
				a(data-fancybox="youtube", href=`https://www.youtube.com/watch?v=_sI_Ps7JSEk`) Watch the full video
	.cnt__home__servicio
		.ctn__servicio__item
			.ctn__servicios__rambo
				img(src=`${STATIC_URL}img/img-rombo.png`, width="263", height="353")
			.ctn__servicio__item__prin
				.ctn__servicios__info 
					.ctn__servicios__info__prin
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						a.btn.btn-enlace.btn-plomo( href='nosotros.html') Read more
				.ctn__servicios__img
					img(src=`${STATIC_URL}img/home-servicio.jpg`, width="614", height="357")
	.cnt__home__galeria
		- for (var i = 1; i <= 2; i++)
			.cnt__home__galeria__item(style=`background-image: url('${STATIC_URL}img/img-home-galeria.jpg');`)
				.cnt__home__galeria__prin
					h4 Photography
					p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto.
					a.btn.btn-enlace.btn-plomo( href='portafolio.html') View projects
	.cnt__home__servicios__prin
		.cnt__home__servicios__prin__sec
			.cnt__home__servicio__img__prin
				- for (var i = 1; i <= 13; i++)
					.cnt__home__servicio__img__item
						img(src=`${STATIC_URL}img/img-home-servicios.jpg`, width="160", height="98")
			.cnt__home__servicio__info__prin
				h3 NUESTROS SEVICIOS
				h4 Photographer <br> & Creative Director
				p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto.
				a.btn.btn-enlace.btn-plomo( href='servicios.html') Read more
	.cnt__home__gallery__redes
		.cnt__home__gallery__prin
			.cnt__home__gallery__item
				.cnt__home__gallery__item__bg(style=`background-image: url('${STATIC_URL}img/img-home-galeria.jpg');`)
				.cnt__home__gallery__item__sec
					a.icon-instagram
					h4 Instagram
			.cnt__home__gallery__item
				.cnt__home__gallery__item__bg(style=`background-image: url('${STATIC_URL}img/img-home-galeria.jpg');`)
				.cnt__home__gallery__item__sec
					a.icon-facebook
					h4 Facebook
			.cnt__home__gallery__item
				.cnt__home__gallery__item__bg(style=`background-image: url('${STATIC_URL}img/img-home-galeria.jpg');`)
				.cnt__home__gallery__item__sec
					a.icon-twitter
					h4 Twitter
			.cnt__home__gallery__item
				.cnt__home__gallery__item__bg(style=`background-image: url('${STATIC_URL}img/img-home-galeria.jpg');`)
				.cnt__home__gallery__item__sec
					a.icon-youtube
					h4 Youtube







			



//- js
append scripts 
	script(src=`${STATIC_URL}js/fancybox/jquery.fancybox.min.js`)
	script.
		$(()=>{
			'use strict'
			const cl = x => console.log(x)

			const initRanndomGallery = (wrapper) => {
				var i = 0;
				let wrapperWidth = $(wrapper).eq(0).width()
				let wrapperHeight = $(wrapper).eq(0).height()
				let itemWidth = $(wrapper).eq(0).children().eq(0).width()
				let itemHeight = $(wrapper).eq(0).children().eq(0).height()

				const itemOpacity = (items) => {
					if(i <= (items.length - 1 ) ){
						cl(i)
						$(items).eq(i).animate({
							opacity: 1,
							//- 'z-index': i+1
						}, 700, function() {
							i++
							itemOpacity(items)
						});
					}
				}

				//- $(wrapper).eq(0).children().each((k, ele) => {
				//- 	if(k < 4){
				//- 		$(ele).css({
				//- 			top: ((wrapperHeight / 2) - (itemHeight / k)),
				//- 			left: ((wrapperWidth / 2) - (itemWidth / k))
				//- 		})
				//- 	}else{
				//- 		$(ele).css({
				//- 			top: Math.floor(Math.random() * (wrapperHeight - itemHeight)) + (itemHeight / 2),
				//- 			left: Math.floor(Math.random() * (wrapperWidth - itemWidth)) + (itemWidth / 2),
				//- 		})
				//- 	}
				//- })
				itemOpacity($(wrapper).eq(0).children())

				

				
			}
			initRanndomGallery('.cnt__home__servicio__img__prin')

		})