extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.ctn__nosotros
		.banner__general(style=`background-image: url('${STATIC_URL}img/banner.jpg');`)
			.banner__general__content.banner--rigth
				h2 32 years in the market with more <br>of 200 professional models
		.ctn__nosotros__prin
			.ctn__nosotros__img
				img(src=`${STATIC_URL}img/img-nosotros.jpg`, width="496", height="516")

			.ctn__nosotros__info
				p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen, Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno.
				ul
					li
						figure
							img(src=`${STATIC_URL}img/ico-camara.png`, width="58", height="50")
						p Calidad, precisión y trayectoria
					li
						figure
							img(src=`${STATIC_URL}img/ico-camara-film.png`, width="58", height="50")
						p Calidad, precisión y trayectoria
					li
						figure
							img(src=`${STATIC_URL}img/ico-estrella.png`, width="58", height="50")
						p Calidad, precisión y trayectoria
		.ctn__nosotros__slider
			ul.slider__nosotros
				- for (var i = 1; i <= 7; i++)
					li
						.slider__nosotros__prin
							.slider__nosotros_img
								figure
									img(src=`${STATIC_URL}img/img-slider-nosotros.jpg`, width="99", height="102")
							.slider__nosotros__comillas
								img(src=`${STATIC_URL}img/comillas-2.png`, width="54", height="46").comillas-1
								img(src=`${STATIC_URL}img/comillas-3.png`, width="54", height="46").comillas-2
							.slider__nosotros__info
								h3 Testimonials
								p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto de relleno de las imprenta archivos de archivos …
								h4 Jennifer Lopez
							.slider__nosotros__number 02

append scripts 
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			$('.slider__nosotros').slick({
				autoplay: true,
				speed: 400,
				centerMode: true,
				centerPadding: '60px',
				slidesToShow: 4,
				arrows: false,
				responsive: [
					{
						breakpoint: 1025,
						settings: {
							slidesToShow: 2,
							centerPadding: '30px'
						}
					},
					{
						breakpoint: 641,
						settings: {
							slidesToShow: 1,
							centerPadding: '0',
							dots: true
						}
					}
				]	
			});
		})





