extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/fancybox/jquery.fancybox.css`)

//- body classs
block vars
	- var bodyClass = 'portafolio'
//- ---

//- Contenido
block content
	.ctn__portafolio
		.banner__general(style=`background-image: url('${STATIC_URL}img/banner.jpg');`)
			.banner__general__content
				h2 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
		.ctn__portafolio__menu
			ul 
				li
					a(href="", data-id="tab-1").btn__portafolio.active Photography
				li
					a(href="", data-id="tab-2").btn__portafolio Films
		.ctn__portafolio__gallery
			#tab-1.ctn__portafolio__gallery__tab.gallery__tab
				ul
					- for (var i = 1; i <= 9; i++)
						li
							a(href=`${STATIC_URL}img/img-portafolio-big.jpg`, data-fancybox=`images`)
								img(src=`${STATIC_URL}img/img-portafolio.jpg`, width="533", height="328")
								<figcaption>Charlize Theron, Los Angeles, American Vogue, 2017</figcaption>
			#tab-2.ctn__portafolio__gallery__tab.gallery__tab
					ul
						- for (var i = 1; i <= 9; i++)
							li
								a(href=`${STATIC_URL}img/img-portafolio-big.jpg`, data-fancybox=`images`)
									img(src=`${STATIC_URL}img/img-portafolio.jpg`, width="533", height="328")
									<figcaption>Charlize Theron, Los Angeles, American Vogue, 2017</figcaption>

	//- js
append scripts 
	script(src=`${STATIC_URL}js/fancybox/jquery.fancybox.min.js`)
	script.
		$(()=>{
			$('.ctn__portafolio__gallery__tab:first-child').addClass('active');
			$('.btn__portafolio').click(function(event){
				event.preventDefault();	

				// capturamos el data-id			
				var bdataid = $(this).attr('data-id');
				$(".btn__portafolio").removeClass('active');
				$(this).addClass('active');
				$(".ctn__portafolio__gallery__tab").removeClass('active');
				$('.ctn__portafolio__gallery__tab[id="'+bdataid+'"]').addClass('active');
			});
			$( '[data-fancybox="images"]' ).fancybox({
				  caption : function( instance, item ) {
				      return $(this).find('figcaption').html();
				  },
				  thumbs : {
				    autoStart : true
				  },
				  clickContent: function(current, event) {
				  	//- console.log(current);
				  	//- console.log(event);
					var imagen = current.src;
					//- console.log(imagen);
				  	$('.fancybox-stage').css('background-image', 'url('+imagen+')');
				  },
				  transitionEffect: "circular",
				  margin: [0, 0, 40, 0]
			});
		})

