extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.ctn__servicios
		.banner__general(style=`background-image: url('${STATIC_URL}img/banner.jpg');`)
			.banner__general__content
				h2 The magic of a good <br> photographic direction
		.ctn__servicios__prin
			.ctn__servicios__items
				- for (var i = 1; i <= 4; i++)
					.ctn__servicio__item
						.ctn__servicios__rambo
							img(src=`${STATIC_URL}img/img-rombo.png`, width="263", height="353")
						.ctn__servicio__item__prin
							.ctn__servicios__img
								img(src=`${STATIC_URL}img/img-servicios.jpg`, width="579", height="350")
							.ctn__servicios__info 
								.ctn__servicios__info__prin
									h3 FOTOGRAFÍA
									h4 Lorem Ipsum is simply
									p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta).
									a.btn.btn-enlace.btn-plomo( href='') Contact



