.ctn__contacto
	width: 100%
.ctn__contact__prin
	width: 100%
	max-width: 1240px
	margin: auto
	padding: 0 20px
	box-sizing: border-box
	display: flex
	justify-content: space-between
	position: relative
	flex-wrap: wrap
.ctn__contact__info
	width: 38%
	margin: 50px 0 0 0
.ctn__contact__slider
	p
		margin: 40px 0 0 0
		font-family: $t-1
		font-size: 22px
		line-height: 1.09
		color: $c-3
		transition: all .3s ease-in-out 1s
		transform: translateX(-100px)
		opacity: 0
	h3
		font-weight: normal
		margin: 0
		color: $c-0
		font-family: $t-2
		font-size: 27px
		line-height: 2.96
		transition: all .3s ease-in-out 1.5s
		transform: translateX(-100px)
		opacity: 0
	.slick-current
		.slider__contact__img
			opacity: 1
		.ctn__contact__comillas
			opacity: 1
		p, h3
			opacity: 1
			transform: translateX(0)
	.slick-dots 
		text-align: left
		bottom: -15px
		li 
			width: 10px
			height: 10px
			border: 1px solid $c-0
			border-radius: 100%
			button
				width: 100%
				height: 100%
				padding: 0
				&:before
					display: none
			&.slick-active
				background: $c-0
.ctn__contact__slider__img
	display: flex
	width: 240px
	justify-content: space-between
	align-items: flex-end
.slider__contact__img
	width: 143px
	margin: 0
	opacity: 0
	transition: all .3s ease-in-out .2s
	img
		display: block
		max-width: 100%
		height: auto
		box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.08)
		
.ctn__contact__comillas
	margin: 0 0 35px 0
	opacity: 0
	transition: all .3s ease-in-out .5s
.ctn__contact__form
	width: 52.3%
	position: relative
	top: -30px
	background: $blanco
	padding: 60px 75px
	box-sizing: border-box
	box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.08)
	h3
		margin: 0
		font-family: $t-2
		font-size: 36px
		line-height: 1
		color: $c-0
	p 
		margin: 23px 0 0 0
		font-size: 15px
		color: $c-3
		font-family: $t-1
		line-height: 20px
.ctn__contact__form__sec
	margin: 30px 0 0 0
	form
		display: flex
		justify-content: space-between
		flex-wrap: wrap
.ctn__contact__form__item
	width: 45%
	margin: 0 0 40px 0
.ctn__contact--textarea, .ctn__contact--btn
	width: 100%
.ctn__contact--btn
	margin: 0
.ctn__contact__btn__sec
	display: inline-block
	margin: 0
	position: relative
@media screen and (max-width: 960px)
	.ctn__contact__info
		width: 100%
		order: 2
		margin: 30px 0 0 0
	.ctn__contact__comillas
		display: none
	.ctn__contact__form
		width: 100%
		top: 0
		padding: 30px
		order: 1
@media screen and (max-width: 767px)
	.ctn__contact__prin
		padding: 0 15px
	.ctn__contact__slider 
		p
			margin: 20px 0 0 0
			font-size: 17px
		h3
			font-size: 20px
			line-height: 1
			margin: 10px 0
@media screen and (max-width: 480px)
	.ctn__contact__form__item
		width: 100%
