.banner__home
	width: 100%
	height: 778px
	background-position: center top
	background-repeat: no-repeat
	background-size: cover
	position: relative
	display: flex
	align-items: center
	&:before
		width: 100%
		height: 100%
		content: ""
		position: absolute
		top: 0
		left: 0
		background: $negro
		opacity: .45
.banner__home__content
	position: relative
	z-index: 2
	width: 100%
	max-width: 1240px
	padding: 0 20px
	margin: auto
	h2
		color: $blanco
		line-height: .92
		opacity: .8
		font-family: $t-2
		font-size: 72px
.banner__home__video
	margin: 30px 0 0 0
	a
		display: inline-block
		padding: 0
		position: relative
		font-size: 16px
		color: $blanco
		font-family: $t-1
		font-weight: bold
		opacity: .8
		padding: 0 0 0 65px
		line-height: 48px
		&:before
			content: "\e902"
			position: absolute
			top: 0
			left: 0
			color: $blanco
			font-family: icomoon
			font-size: 47px
.cnt__home__servicio
	width: 100%
	max-width: 1260px
	padding: 50px 20px
	box-sizing: border-box
	margin: 0 auto
	.ctn__servicios__rambo
		left: -100px
		z-index: 9
	.ctn__servicios__info
		width: 48.4%
		padding-left: 50px
		padding-right: 0
		max-width: 593px
		z-index: 10
	.ctn__servicios__img
		width: 50.35%
		max-width: 614px
		&:before
			content: ""
			position: absolute
			top: -15px
			right: -15px
			height: 30px
			width: 30px
			border-top: 2px solid $c-2
			border-right: 2px solid $c-2
	.ctn__servicios__info__prin
		text-align: right
		p 
			font-size: 32px
			font-family: $t-2
			color: $c-0
			line-height: 1
.cnt__home__galeria
	width: 100%
	display: flex
	flex-wrap: wrap
.cnt__home__galeria__item
	position: relative
	width: 50%
	height: 503px
	background-position: center top
	background-repeat: no-repeat
	background-size: cover
	display: flex
	justify-content: flex-end
	align-items: center
	padding-right: 50px
	box-sizing: border-box
	&:nth-child(even)
		padding-right: 0
		padding-left: 50px
		justify-content: flex-start
		.cnt__home__galeria__prin
			text-align: left
			h4, p
				color: $blanco
.cnt__home__galeria__prin
	width: 100%
	max-width: 260px
	text-align: right
	h4
		color: $c-0
		font-weight: normal
		margin: 0
		font-family: $t-2
		font-size: 36px
	p 
		margin: 25px 0
		color: $c-0
		font-size: 14px
		font-family: $t-0
.cnt__home__servicios__prin
	padding: 50px 0
	box-sizing: border-box
	width: 100%
.cnt__home__servicios__prin__sec
	width: 100%
	max-width: 1240px
	margin: auto
	padding: 0 20px
	box-sizing: border-box
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	align-items: center
.cnt__home__servicio__img__prin
	width: 640px
	position: relative
	overflow: hidden
	height: 360px
.cnt__home__servicio__img__item
	width: 25%
	position: absolute
	opacity: 0
	z-index: 0
	// top: 0
	// left: 0
	img
		display: block
		max-width: 100%
		margin: 0
		height: auto
	&:nth-child(1)
		top: 20px
		left: 105px
	&:nth-child(2)
		top: 0
		left: 305px
	&:nth-child(3)
		top: 80px
		left: 0
	&:nth-child(4)
		top: 140px
		left: 133px
	&:nth-child(5)
		top: 62px
		left: 250px
	&:nth-child(6)
		top: 50px
		right: 50px
	&:nth-child(7)
		top: 140px
		right: 100px
	&:nth-child(8)
		top: 80px
		right: 0
	&:nth-child(9)
		top: 190px
		left: 50px
	&:nth-child(10)
		bottom: 0
		left: 145px
	&:nth-child(11)
		top: 180px
		left: 245px
	&:nth-child(12)
		bottom: 0
		left: 330px
	&:nth-child(13)
		bottom: 30px
		right: 0
.cnt__home__servicio__info__prin
	width: 31.4%
	h3 
		margin: 0
		font-weight: normal
		font-size: 14px
		letter-spacing: 1.65px
		line-height: 2.57
		font-family: $t-1
		color: $c-0
	h4
		font-size: 36px
		line-height: .92
		color: $c-0
		font-family: $t-2
		margin: 10px 0 0 0
	p 
		margin: 20px 0
		font-size: 14px
		color: $c-0
		font-family: $t-0
		max-width: 260px
.cnt__home__gallery__redes
	width: 100%
	padding: 0 0 50px 0
.cnt__home__gallery__prin
	width: 100%
	max-width: 1340px
	margin: 0 auto
	padding: 0 20px
	box-sizing: border-box
	display: flex
	flex-wrap: wrap
.cnt__home__gallery__item
	width: 23%
	background: $c-8
	height: 253px
	margin: 0 2.6666% 0 0
	display: flex
	align-items: center
	position: relative
	cursor: pointer
	&:last-child
		margin-right: 0
.cnt__home__gallery__item__bg
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-size: cover
	background-repeat: no-repeat
	background-position: left center
	opacity: 0
	transition: all .3s ease-in-out
.cnt__home__gallery__item__sec
	text-align: center
	width: 100%
	padding: 0 10px
	box-sizing: border-box
	position: relative
	z-index: 2
	a:before
		color: $blanco
		font-size: 22px
	h4
		color: $blanco
		text-transform: uppercase
		font-weight: normal
		margin: 15px 0 0 0
		font-size: 22px
		font-weight: bold
		font-family: $t-1
@media screen and (min-width: 1025px)
	.cnt__home__gallery__item:hover
		.cnt__home__gallery__item__bg
			opacity: 1
@media screen and (max-width: 1024px)
	.banner__home
		height: 500px
	.banner__home__content
		h2
			font-size: 50px
	.cnt__home__servicio 
		.ctn__servicios__img:before
			display: none
	.cnt__home__gallery__item__bg
		opacity: 1
		&:before
			content: ""
			display: block
			width: 100%
			height: 100%
			background: $negro
			opacity: .5
			position: absolute
			top: 0
			left: 0
@media screen and (max-width: 960px)
	.cnt__home__servicio 
		.ctn__servicios__info__prin
			text-align: left
		.ctn__servicios__info, .ctn__servicios__img
			width: 100%
		.ctn__servicios__info
			max-width: 100%
			padding: 0
			order: 2
			margin: 30px 0 0 0
		.ctn__servicios__img
			margin: 0 auto 0 auto
			order: 1
		.ctn__servicios__info__prin p
			font-size: 25px
	.cnt__home__galeria__item
		width: 100%
		padding-right: 30px
		&:nth-child(even)
			padding-left: 30px
	.cnt__home__servicio__img__prin
		width: 100%
		max-width: 640px
		margin: auto
	.cnt__home__servicio__info__prin
		width: 100%
		margin: 15px 0 0 0
		h4
			br
				display: none
		p 
			max-width: 100%
	.cnt__home__gallery__item
		width: 47.5%
		margin-right: 5%
		margin-bottom: 30px
		&:nth-child(even)
			margin-right: 0
	.cnt__home__gallery__redes
		padding-bottom: 0
@media screen and (max-width: 767px)
	.banner__home
		height: 320px
	.banner__home__content
		padding: 0 15px
		h2
			font-size: 30px
	.cnt__home__servicio
		padding: 30px 15px
	.cnt__home__servicios__prin__sec
		padding: 0 15px
	.cnt__home__servicios__prin
		padding: 30px 0
	.cnt__home__servicio__img__prin
		height: 240px
	.cnt__home__servicio__img__item
		display: none
		width: 160px
		height: 98px
		&:nth-child(1)
			display: block
			top: 0
			left: 0
			right: 0
			margin: auto
		&:nth-child(2)
			top: 0
			bottom: 0
			margin: auto
			left: -210px
			right: 0
			display: block
		&:nth-child(3)
			top: 0
			bottom: 0
			margin: auto
			left: 0
			right: -210px
			display: block
		&:nth-child(4)
			top: inherit
			bottom: 0
			left: 0
			right: 0
			margin: auto
			display: block

@media screen and (max-width: 480px)
	.banner__home__content
		h2
			font-size: 20px
	.cnt__home__servicio 
		.ctn__servicios__info__prin p
			font-size: 20px
	.cnt__home__galeria__item
		height: 350px
		padding-right: 15px
		&:nth-child(even)
			padding-left: 15px
	.cnt__home__servicio__info__prin
		h4
			font-size: 28px
	.cnt__home__gallery__prin
		padding: 0 15px
	.cnt__home__gallery__item
		width: 100%
		margin-right: 0
@media screen and (max-width: 400px)
	.cnt__home__servicio__img__item
		&:nth-child(2)
			left: 0
			right: inherit
		&:nth-child(3)
			right: 0
			left: inherit
