.ctn__nosotros
	width: 100%
	padding: 0 0 80px 0
.ctn__nosotros__prin
	width: 100%
	max-width: 1240px
	padding: 0 20px
	margin: auto
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	box-sizing: border-box
.ctn__nosotros__img
	width: 40%
	position: relative
	top: -185px
	img
		display: block
		max-width: 100%
		height: auto
	&:before
		content: ""
		position: absolute
		top: -15px
		left: -15px
		height: 30px
		width: 30px
		border-top: 2px solid $c-2
		border-left: 2px solid $c-2
.ctn__nosotros__info
	width: 52.5%
	padding: 25px 0 0 0
	font-size: 16px
	font-family: $t-1
	color: $c-3
	p
		margin: 0 0 0 0
		color: $c-3
		line-height: 20px
	ul
		display: flex
		margin: 40px 0 0 0
		flex-wrap: wrap
	li
		margin: 0 5% 0 0
		width: 30%
		&:last-child
			margin-right: 0
		p 
	figure
		width: 58px
		margin: 0 0 12px 0
	img
		max-width: 100%
		height: auto
		display: block
.ctn__nosotros__slider
	padding: 0
	width: 100%
	box-sizing: border-box
	padding: 0 20px
.slider__nosotros 
	li.slick-current
		.slider__nosotros__prin
			height: 428px
			background: $c-0
			padding-left: 85px
			padding-right: 50px
			max-width: 600px
		.slider__nosotros__info 
			padding: 60px 0 0 0
			p
				color: $blanco
			h4
				color: $blanco
				font-size: 36px
				line-height: 2.22
			h3
				display: block
				opacity: 1
		.slider__nosotros__number
			display: block
			opacity: 1
		.comillas-1
			opacity: 0
			position: absolute
			top: 0
			left: 0
			visibility: hidden
		.comillas-2
			opacity: 1
			position: relative
			visibility: visible
	.slick-dots 
		text-align: left
		bottom: 0
		li 
			width: 10px
			height: 10px
			border: 1px solid $c-0
			border-radius: 100%
			button
				width: 100%
				height: 100%
				padding: 0
				&:before
					display: none
			&.slick-active
				background: $c-0
.slider__nosotros__prin
	box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.08)
	background: $blanco
	padding: 20px 15px 30px 35px
	width: 100%
	max-width: 300px
	height: 475px
	box-sizing: border-box
	position: relative
	display: flex
	flex-direction: column
	margin: 0 auto
	transition: all .3s linear
.slider__nosotros_img
	width: 99px
	position: absolute
	top: 30px
	left: -55px
	box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.2)
	height: 103px
	img
		display: block
		max-width: 100%
		height: auto
.slider__nosotros__comillas
	width: 54px
	height: 103px
	position: absolute
	top: 60px
	right: 15px
	img
		display: block
		max-width: 100%
		height: auto
		transition: all .3s ease-in-out
.comillas-2
	opacity: 0
	position: absolute
	top: 0
	left: 0
	visibility: hidden
.slider__nosotros__info
	margin: 0 0 0 0
	width: 100%
	padding: 145px 0 0 0
	h3
		font-weight: normal
		font-size: 16px
		font-family: $t-0
		letter-spacing: 5px
		color: $blanco
		opacity: 0
		transition: all .3s ease-in-out
		margin: 0
		display: none
	p
		font-family: $t-1
		font-size: 22px
		line-height: 1.18
		color: $c-4
		letter-spacing: .9px
		margin: 13px 0 0 0
	h4
		font-weight: normal
		margin: 0
		font-family: $t-2
		font-size: 27px
		line-height: 2.96
		color: $c-5
.slider__nosotros__number
	position: absolute
	right: 20px
	font-family: $t-2
	font-size: 144px
	color: $blanco
	bottom: -75px
	display: none
	opacity: 0
	transition: all .3s ease-in-out
@media screen and (max-width: 1024px)
	.ctn__nosotros
		padding-bottom: 50px
@media screen and (max-width: 960px)
	.ctn__nosotros__img
		width: 100%
		top: inherit
		margin: 30px 0
		&:before
			display: none
	.ctn__nosotros__info
		width: 100%
	.ctn__nosotros__slider
		margin: 30px 0 0 0
	.slider__nosotros_img
		left: 15px
	.slider__nosotros__info h4
		font-size: 19px
		line-height: 1.6
	.slider__nosotros li.slick-current 
		.slider__nosotros__prin
			padding-right: 30px
			padding-left: 30px
			padding-top: 90px
		.slider__nosotros__info h4
			font-size: 25px
			line-height: 1.5
	.slider__nosotros__number
		font-size: 38px
		bottom: 10px
	.slider__nosotros__comillas
		width: 35px
		height: auto
@media screen and (max-width: 767px)
	.ctn__nosotros
		padding-bottom: 30px
	.ctn__nosotros__info ul
		margin-top: 30px
	.ctn__nosotros__prin
		padding: 0 15px
	.ctn__nosotros__slider
		padding-right: 15px
		padding-left: 15px

@media screen and (max-width: 480px)
	.ctn__nosotros__info
		figure
			margin-right: auto
			margin-left: auto
		li 
			text-align: center
			width: 100%
			margin: 0 0 10px 0
			&:last-child
				margin-bottom: 0