body.portafolio
	.fancybox-bg
		display: none
	.fancybox-caption-wrap
			opacity: 1 !important
			visibility: visible !important
			background: none
			width: 100%
			max-width: 1063px
			bottom: 99px
			background: $blanco
			border: 0
			left: 0
			right: 0
			margin: auto
			box-sizing: border-box
			padding: 30px
	.fancybox-thumbs
		top: initial !important
		bottom: 0 !important
		background: rgba(256, 256, 256, .5)
		left: 0
		right: 0
		height: 85px
		width: 100%
		max-width: 556px
		margin: auto
		padding: 0
		display: block
		z-index: 99999999 !important
		ul
			position: relative
			width: 100%
			height: 100%
			margin: 0
			padding: 0
			overflow-x: hidden
			overflow-y: auto
			z-index: 999999999
			display: flex
			flex-wrap: wrap
			li
				width: 25%
				max-width: 139px
				border: 0
				margin: 0
				position: relative
				height: 85px
				&.fancybox-thumbs-active
					&:before
						opacity: 1
				&:before
					content: ""
					position: absolute
					top: 0
					right: 0
					bottom: 0
					left: 0
					border-radius: 2px
					border: 4px solid #4ea7f9
					z-index: 99991
					opacity: 0
					transition: all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
				img
					position: absolute
					top: 0
					left: 0
					min-width: 100%
					min-height: 100%
					max-width: none
					max-height: none
					user-select: none
	.fancybox-show-thumbs .fancybox-inner
		right: 0
	.fancybox-caption
		padding: 0
		border: 0
		font-family: $t-0
		font-size: 14px
		color: $c-0
	.fancybox-button--play, .fancybox-button--fullscreen, .fancybox-button--thumbs
		display: none
	.fancybox-toolbar
		opacity: 1 !important
		visibility: visible !important
		top: 11%
		right: 0
		left: 0
		margin: auto
		background: none
		width: 100%
		max-width: 1063px
		display: flex
		justify-content: flex-end
	.fancybox-button--close
		background: none
		line-height: 34px
		color: $c-0
		border: 1px solid $c-0
		width: 34px
		height: 34px
		margin-right: -120px
	.fancybox-navigation
		width: 100%
		max-width: 1143px
		margin: auto
		left: 0
		right: 0
		position: absolute
		height: 14px
		top: 0
		bottom: 0
		padding: 0 20px
		box-sizing: border-box
	.fancybox-arrow
		opacity: 1 !important
		top: 0
		margin: 0
		height: 14px
		width: 26px
		&:after
			background: none
			top: 0
			height: 100%
			width: 100%
			font-family: icomoon
			color: $c-3 !important
			font-size: 18px
		&.fancybox-arrow--left
			transform: scaleX(1)
			left: 0
			&:after
				content: "\e906"
		&.fancybox-arrow--right
			right: 0
			&:after
				content: "\e905"
	.fancybox-stage
		width: 100%
		height: 100%
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		&:after
			content: ""
			background: $blanco
			opacity: .5
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			z-index: 9
	.fancybox-image
		max-width: 1063px

.ctn__portaoflio
	width: 100%
.ctn__portafolio__menu
	width: 100%
	padding: 35px 20px
	box-sizing: border-box
	ul 
		display: flex
		justify-content: center
	li
		margin: 0 30px 0 0
		font-size: 18px
		font-family: $t-1
		text-transform: uppercase
		&:last-child
			margin: 0
	a
		color: $c-1
		width: 100%
		display: block
		padding: 20px
		box-sizing: border-box
		border: 1px transparent
		transition: all .3s ease-in-out
		&.active
			color: $c-0
			border: 1px solid $c-0
.ctn__portafolio__gallery
	width: 100%
	position: relative
.ctn__portafolio__gallery__tab
	position: absolute
	top: 0
	left: 0
	transition: all .3s ease-in-out
	z-index: -1
	visibility: hidden
	opacity: 0
	&.active
		position: relative
		z-index: 2
		visibility: visible
		opacity: 1
	ul
		width: 100%
		margin: 0
		display: flex
		flex-wrap: wrap
	li
		width: 33.33333%
		margin: 0
		overflow: hidden
	img
		display: block
		max-width: 100%
		height: auto
		transition: all .5s ease-in-out
	figcaption
		display: none
		opacity: 0
@media screen and (min-width: 1025px)
	.ctn__portafolio__gallery__tab li:hover
		img
			transform: scale(1.3)
@media screen and (max-width: 1300px)
	body.portafolio
		.fancybox-button--close
			margin-right: 20px
			color: $blanco
			border: 1px solid $blanco
		.fancybox-arrow
			&:after
				color: $blanco !important
@media screen and (max-width: 960px)
	.ctn__portafolio__gallery__tab li
		width: 50%
	body.portafolio
		.fancybox-caption-wrap
			bottom: 0
@media screen and (max-width: 767px)
	body.portafolio
		.fancybox-toolbar
			top: 20%
		.fancybox-caption-wrap
			padding: 15px
@media screen and (max-width: 480px)
	.ctn__portafolio__gallery__tab li
		width: 100%
	.ctn__portafolio__menu 
		li
			font-size: 16px
		a
			padding: 15px
	body.portafolio 
		.fancybox-thumbs ul li
			width: 33.3%