.ctn__servicios
	width: 100%
.ctn__servicios__prin
	width: 100%
	max-width: 1200px
	margin: auto
	padding: 50px 20px
	box-sizing: border-box
.ctn__servicio__item
	position: relative
	margin: 0 0 40px 0
	&:nth-child(even)
		.ctn__servicio__item__prin
			flex-direction: row-reverse
	&:last-child
		margin: 0
.ctn__servicio__item__prin
	display: flex
	justify-content: space-between
	position: relative
	flex-wrap: wrap
.ctn__servicios__rambo
	width: 263px
	height: 353px
	position: absolute
	top: 0
	left: 0
	right: 0
	margin: auto
	img
		display: block
		max-width: 100%
		height: auto
.ctn__servicios__img
	width: 50%
	position: relative
	z-index: 2
	img
		max-width: 100%
		display: block
		height: auto
.ctn__servicios__info
	display: flex
	align-items: center
	width: 50%
	padding: 0 50px
	box-sizing: border-box
	position: relative
	z-index: 2
	h3 
		margin: 0 0 25px 0
		font-weight: normal
		font-family: $t-1
		font-size: 14px
		line-height: 2.57
		letter-spacing: 1.6px
		color: $c-0

	h4
		margin: 0 0 40px 0
		font-weight: normal
		font-family: $t-2
		font-size: 42px
		line-height: .86
		color: $c-0
	p 
		margin: 0 0 20px 0
		font-family: $t-1
		font-size: 16px
		color: $c-3
		line-height: 19px
@media screen and (max-width: 1024px)
	.ctn__servicios__rambo
		display: none
@media screen and (max-width: 960px)
	.ctn__servicios__rambo
		display: none
	.ctn__servicios__img
		width: 100%
	.ctn__servicios__info
		width: 100%
		padding: 0
		margin: 30px 0 0 0
		h3
			margin: 0
		h4
			font-size: 35px
			margin-bottom: 20px
	.ctn__servicio__item
		margin: 0 0 30px 0
@media screen and (max-width: 767px)
	.ctn__servicios__prin
		padding: 30px 15px
	.ctn__servicios__info
		h4
			font-size: 30px