extends ./_common/base.pug
//- btn
block content
	.banner__general(style=`background-image: url('../${STATIC_URL}img/banner.jpg');`)
	.banner__general(style=`background-image: url('../${STATIC_URL}img/banner.jpg');`)
		.banner__general__content
			h2 The magic of a good
	.banner__general(style=`background-image: url('../${STATIC_URL}img/banner.jpg');`)
		.banner__general__content.banner--rigth
			h2 Lorem ipsum<br> lorem ipsum