// BUTTONS
.btn-enlace
	font-size: 14px
	font-family: $t-0
	text-align: center
	padding: 0 43px
	height: 44px
	line-height: 44px
	display: inline-block
	border: 0
.btn-plomo
	background: $c-0
	color: $blanco
	border-radius: 100px