.input__general
	+placeholder($c-1, $t-0)
	input, textarea
		height: 40px
		border: 0
		border-bottom: 1px solid $c-2
		font-family: $t-0
		color: $c-1
		width: 100%
		padding: 0 20px
		font-size: 15px
		box-sizing: border-box
	textarea
		padding-top: 10px
		box-sizing: border-box