.banner__general
	height: 317px
	width: 100%
	background-repeat: no-repeat
	background-size: cover
	position: relative
	background-position: right top
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		background: $negro
		opacity: .45
.banner__general__content
	position: relative
	z-index: 2
	justify-content: center
	display: flex
	align-items: center
	width: 100%
	height: 100%
	max-width: 1240px
	padding: 0 20px
	margin: 0 auto
	box-sizing: border-box
	h2
		font-weight: normal
		color: $blanco
		margin: 0
		font-family: $t-2
		font-size: 48px
		line-height: 1
.banner--rigth
	justify-content: flex-end
	align-items: flex-end
	h2
		margin-bottom: 20px
@media screen and (max-width: 1024px)
	.banner__general__content
		h2
			font-size: 30px
@media screen and (max-width: 767px)
	.banner__general
		height: 250px
	.banner__general__content
		h2
			font-size: 22px
@media screen and (max-width: 480px)
	.banner__general__content
		h2
			font-size: 19px